@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #f0fdf0 !important;
}
.contact-img{
  width: 150px;
  border-radius: 50%;
}
.contact-img-big{
  width: 200px;
  border-radius: 50%;
}
.loader-img{
  width: 200px;
  border-radius: 50%;
  background-color:transparent;
}
.back{
  margin-left: 12rem;
}